<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ConnectionString" value="Data Source=DESKTOP-M8B7RG5\SQLEXPRESS;Initial Catalog=QLNS;Integrated Security=True"/>
    
    <add key ="MSHSFORMAT" value =""/>
  </appSettings>
</configuration>